package

import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import javax.persistence.Entity;
import java.io.Serializable;

${package}.entity;


/**
 * ${comments}
 *
 * @Author: ${author}
 * @Date: ${datetime}
 */
@Entity
@Table(name = "${tableName}")
@ApiModel(value="${comments}参数", description = "${comments}参数描述")
public class ${className}Entity implements Serializable {

	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	#if($column.columnName == $pk.columnName)

  	/**
     * $column.comments
     */
    @Id
    @GeneratedValue(generator = "uuid")
    @GenericGenerator(name = "uuid", strategy = "uuid")
    @Column(length=32)
    @ApiModelProperty(value="$column.comments")
    private $column.attrType $column.attrname;
	#else

    /**
     * $column.comments
     */
#if($column.attrType == "Date")
	@JsonFormat(pattern = "yyyy-MM-dd HH:mm:ss")
#end
    @Column(name = "$column.columnName")
##    @Field(value = "$column.columnName")
    @ApiModelProperty(value="$column.comments")
    private $column.attrType $column.attrname;
	#end

#end
##
###foreach ($column in $columns)
##
##	/**
##	 * 设置：${column.comments}
##	 */
##	public void set${column.attrName}($column.attrType $column.attrname) {
##		this.$column.attrname = $column.attrname;
##	}
##
##	/**
##	 * 获取：${column.comments}
##	 */
##	public $column.attrType get${column.attrName}() {
##		return $column.attrname;
##	}
###end

}
