package ${package}.mapper;

import org.springframework.stereotype.Component;
import com.yss.ms.common.mapper.BizMapper;
import ${package}.entity.${className};
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * ${comments}
 *
 * @Author: ${author}
 * @Date: ${datetime}
 */
@Component
public interface ${className}Mapper extends BizMapper<${className}> {

}
